* {
  color: white;
}

.menu {
  background-color: purple;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

#eye-black, #turkey-black, #hand-black, #phone-black, #triforce-black {
  display: none;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}