* {
  color: purple;
  background-color: aqua;
}

.images-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 300px;
  z-index: 9;
}

.frame {
  background-color: aqua;  
  height: 300px;
  max-width: 746px;
  position: relative;
  top: 100px;
  z-index: 5;
}

.frame-left {
  left: 0;
}

.frame-right {
  right: 0;
}

.arrow {
  position: absolute;
  top: 0px;
  z-index: 9;
  cursor: pointer;
}

.arrow-left {
  left: -60px;
}

.arrow-right {
  right: -60px;
}

.images-wrapper {
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: relative;
}

.images {
  position: absolute;
  right: -1000px;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.image {
  height: 250px;
}
